fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
celery[redis]
redis
python-socketio
pillow
imagehash
opencv-python-headless
numpy
open-clip-torch
faiss-cpu
python-magic
pydantic[email]
pydantic-settings
